footer {
    margin: 0 auto;
    background: linear-gradient(to right, rgb(22 47 122) 20%, #153ba7 80%);
    height: auto;
}

.container {
    width: 800px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 30px;
    padding-top: 10px;
}

.position {
    margin-bottom: 20px;
}

.container_foot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 80px;
}

.contacts {
    width: 380px;
    margin: 0 auto;
    height: auto;
}

.topic {
    font-size: 40px;
    font-family: сursive;
    font-weight: 400;
    font-style: italic;
    color: rgb(255, 255, 255);
    letter-spacing: 10px;
    text-align: center;
    text-shadow: rgb(238 236 229) 3px 5px 8px;
    margin: 10px 0 50px 0;
}

.text-foot {
    text-align: center;
    font-size: 25px;
    font-family: URW Chancery L;
    font-style: oblique;
    color: white;
    word-spacing: 5px;
    text-shadow: white 1px 0 10px;
}

.text-foot:hover {
    color: rgb(48, 46, 46);
    text-decoration: underline;
}